html {
    background-color: black;
    color: white;
    text-align: center;
}

* {user-select: none;}

.clockwrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.clock span {
    display: inline-block;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18vw;
}
.clock span.cl {
    width: 12vw;
}
.clockwrapper .pam {
    display: block;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 3vw;
    line-height: 5px;
}